<configuration>
  <appSettings>
    <add key="DefaultVolume" value="100"/>
    <add key="VolumePresets" value="Preset1, Preset2"/>
  </appSettings>
  <connectionStrings>
    <add name="AudioSessionDB" connectionString="Data Source=audio_sessions.db;Version=3;"/>
  </connectionStrings>
</configuration>